* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0699a6;
  --secondary-color: #9e8c6c;
  --font-color: #0000;
}

html {
  width: 100%;
  overflow-x: hidden;

 overflow: auto!important;
max-height: 100% !important;
}




body {
width: 100%;
overflow: auto!important;
max-height: 100% !important;
overflow-x: hidden;
}
 /*-----------------------------------------*/
//    /*MAIN HEADER SECTION*/
// /*-----------------------------------------*

.main__header {
  background-color: #e5e5e5;
  position: relative;
  width: 100%;
  height: 747px;
  display: flex;
  justify-content: space-evenly;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 90%);

  /*-----------------------------------------*/
  /*NICE TO MEET YOU SECTION*/
  /*-----------------------------------------*/

  .container {
    /*centers in the container*/
    text-align: center;

  .circTxt {
    font-family: "PT Sans Narrow", sans-serif;
    // margin-top: 400px;
    // margin-right: 400px;
    /*allows for centering*/
    display: inline-block;
    position: absolute;
    top: 370px;
    right: 850px;
    /*adjust as needed*/

    color: var(--secondary-color);
    font-weight: 900;
  }
  }
  .resume__section--photo {
    position: absolute;
    top: 180px;
    left: 165px;
  }

  img {
    width: 350px;
    height: 350px;
   margin-right: 280px;

   margin-top: 180px;


    
  }

  .resume__section--details {
    .main__heading {
      position: absolute;
      height: 224px;
      width: 635px;
      top: 100px;
      left: 640px;
      font-family: "Playfair Display", serif;
      font-size: 126px;
      font-weight: 900;
    }
    .job {
      color: var(--secondary-color);
      position: absolute;
      top: 180px;
      left: 640px;
      font-size: 18px;
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      height: 24px;
      width: 635px;
    }

    .contact-btn {
      background-color: var(--primary-color);
      color: #fff;
      position: absolute;
      top: 478px;
      left: 640px;
      height: 60px;
      width: 225px;
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2px;
      border: hidden;
    }
  }
}

 /*-----------------------------------------*/
//    /*MAIN HEADER SECTION ENDS*/
// /*-----------------------------------------*/




//   /*-----------------------------------------*/
//    /*WRAPPER GRID SECTION*/
// /*-----------------------------------------*/

.wrapper {
  display: grid;
  grid-template-columns: 350px 635px;
  grid-template-rows: 170px 170px;
  justify-content: center;
  column-gap: 125px;


/*----------------------------------------*/         
  /* skillset section                         */
  /*---------------------------------------- */
  .skillset {
    .skillset__heading {
      font-family: "PT Sans Narrow", sans-serif;
      color: var(--secondary-color);
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 2px;
    }

    .skillset__list {
      li {
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 34px;
        list-style: none;
      }
    }
  }


/*----------------------------------------*/         
  /* about me section                         */
  /*---------------------------------------- */


  .about {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 80px;

    &:after {
      display: block;
      height: 10px;
      width: 100px;
      content: "";
      background-color: var(--primary-color);
      margin-top: 80px;
      margin-bottom: 66px;
      
    }

    .about__heading {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 36px;
      line-height: 46px;
    }
  }


/*----------------------------------------*/         
  /* experience section                      */
  /*---------------------------------------- */


  .experience {
    margin-top: 146px;
    margin-bottom: 300px;

    .experience__heading {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 36px;
      line-height: 46px;
      
    }

    .experience__heading--frontend {
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 1px;
      color: var(--secondary-color);

      .experience__duration {
     
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: black;
      }
    }

    .experience__paragraph {
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 20px;
      line-height: 34px;
      font-weight: 400;
    }
  }



 /*----------------------------------------*/         
  /* awards section                         */
  /*---------------------------------------- */

  .awards {
    width: 350px;
    height: 100%;
    margin-top: 100px;

    .awards__heading {
      font-family: "PT Sans Narrow", sans-serif;
      color: var(--secondary-color);
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 2px;
    }
  }

  .awards-list {
    list-style: none;
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 34px;
    list-style: none;
  }


 /*----------------------------------------*/         
  /* career traits section                  */
  /*---------------------------------------- */


  .career {
  

    .career__heading {
      font-family: "PT Sans Narrow", sans-serif;
      color: var(--secondary-color);
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 2px;
      margin-top: 250px;
    }

    .career__list {
      list-style: none;

      .career__paragraph1 {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 20px;
        line-height: 34px;

        .bold {
          font-weight: bold;
        }
      }

      .career__paragraph {
        font-family: "PT Sans Narrow", sans-serif;
        margin-top: 50px;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;

        .bold {
          font-weight: bold;
        }
      }
    }
  }



   /*----------------------------------------*/         
  /* VISUAL DESIGN UI WRAPPER SECTION        */
  /*---------------------------------------- */

  .visual_lead_ui {

   margin-top: 40px;



   /*----------------------------------------*/         
  /* visual design                           */
  /*---------------------------------------- */

    .visual {

      .visual__heading {
        line-height: 24px;
        margin-top: 250px;
        display: flex;
        justify-content: space-between;
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: var(--secondary-color);
        letter-spacing: 1px;
      }
    }



   /*----------------------------------------*/         
  /* lead design section                      */
  /*---------------------------------------- */


    .lead {
      .lead__heading {
        line-height: 24px;
        margin-top: 66px;
        display: flex;
        justify-content: space-between;
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: var(--secondary-color);
        letter-spacing: 1px;
      }
    }



     /*----------------------------------------*/         
  /* ui design section                          */
  /*---------------------------------------- */


    .ui {
      &:after {
        display: block;
        height: 10px;
        width: 100px;
        content: "";
        background-color: var(--primary-color);
        margin-top: 66px;
        
      }

      .ui__heading {
        line-height: 24px;
        margin-top: 66px;
        display: flex;
        justify-content: space-between;
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: var(--secondary-color);
        letter-spacing: 1px;
      }
    }
  }

  .responsibilities {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
  }

  .timeline {
    font-family: "PT Sans Narrow", sans-serif;
    // font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: black;
  }




   /*----------------------------------------*/         
  /* VISUAL DESIGN UI WRAPPER SECTION ENDS   */
  /*---------------------------------------- */






   /*----------------------------------------*/         
  /*  recent works section                  */
  /*---------------------------------------- */


  .recent-works {
  
    .recent-works__heading {
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: var(--secondary-color);
    }

    .recent-works__list {
      font-family: "PT Sans Narrow", sans-serif;
      list-style: none;
      font-size: 20px;
      font-weight: 700;
      line-height: 34px;
    }
  }
 /*----------------------------------------*/         
  /*  education section                     */
  /*---------------------------------------- */

  .education {
    line-height: 46px;

    .education__heading {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 36px;
      line-height: 46px;
      margin-top: 180px;
    }

    .education__timeline {
      display: flex;
      justify-content: space-between;
    }

    .education__paragraph--1 {
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: var(--secondary-color);
    }

    .education__paragraph--2 {
     
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-size: 18px;
    }
  }
}

/*----------------------------------------*/
/*   FOOTER SECTION                        */
/*---------------------------------------- */


footer {
  background-color: #e5e5e5;
  text-align: center;
  height: 547px;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);

  .footer__heading {
    font-family: "Playfair Display", serif;
    font-size: 66px;
    font-weight: 900;
    line-height: 82px;
    padding-top: 150px;
  }

  .email {
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
    margin-top: 40px;
  }

  .social-media__list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 66px;

    li {
      margin: 0 45px;
    }
  }
}
  /*----------------------------------------*/
  /*   FOOTER SECTION ENDS                   */
  /*---------------------------------------- */




    /*-----------------------------------------*/
       /*------------------------------------*/
   //--------------- MEDIA QUERIES------------------//
      /*-----------------------------------------*/
       /*------------------------------------*/


@media only screen and (min-width: 300px) and (max-width: 768px) {


  html {
    width: 100%;
    overflow-x: hidden;
  }
  

  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
   
  }

      /*-----------------------------------------*/
    /*MAIN HEADER SECTION*/
    /*-----------------------------------------*/

  .main__header {
    background-color: #e5e5e5;
    width: 100%;
    height: 747px;
    display: grid;
    grid-template-columns: 375px;

    /*-----------------------------------------*/
    /*NICE TO MEET YOU SECTION*/
    /*-----------------------------------------*/

    .container {
      /*centers in the container*/
      text-align: center;
      height: 12px;
      height: 900px;
      position: absolute;
      top:0;
    

    .circTxt {
      font-family: "PT Sans Narrow", sans-serif;
   
      /*allows for centering*/
      display: inline-block;
      /*adjust as needed*/

      color: var(--secondary-color);
      font-weight: 400;
     font-size: small;
  height: 700px;
  width: 1000px;
  margin-left: 300px;
    }

  }



    /*-----------------------------------------*/
    /*NICE TO MEET YOU SECTION ENDS*/
    /*-----------------------------------------*/


    img {
      width: 160px;
      height: 160px;
      position: relative ;
      left: 100px;
      top: -100px;
     
     
    }

    .resume__section--details {
      .main__heading {
        position: absolute;
        height: 92px;
        width: 100px;
        top: 304px;
        left: 50px;
        font-family: "Playfair Display", serif;
        font-size: 56px;
        font-weight: 900;
        text-align: center;

        .first-name {

          margin-left: 80px;
        }
      }
      .job {
        color: var(--secondary-color);
        position: absolute;
        top: 270px;
        left: 10px;
        text-align: center;
        font-size: 18px;
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        height: 24px;
        width: 100%;
      }

      .contact-btn {
        background-color: var(--primary-color);
        color: #fff;
        position: absolute;
        top: 500px;
        left: 75px;
        height: 60px;
        width: 225px;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        border: hidden;
      }
    }
  }
    /*-----------------------------------------*/
    /*MAIN HEADER SECTION ENDS*/
    /*-----------------------------------------*/


    /*-----------------------------------------*/
    /*WRAPPER GRID SECTION*/
    /*-----------------------------------------*/


    body {
      width: 100%;
      height: 100%;
    }

  .wrapper {
    display: grid;
    grid-template-columns: 335px;
    grid-template-rows: 240px;
    grid-gap: 10px;
    justify-content: center;
    height: 1000px;
    grid-template-areas: 'gridItem1' 
    'gridItem2' 
    'gridItem3'
    'gridItem4' 
    'gridItem5' 
    'gridItem6' 
    'gridItem7' 
    'gridItem8';


.about {
grid-area: gridItem1;

}
.experience{
grid-area: gridItem2;

}
.visual_lead_ui {
grid-area: gridItem3;

}
.education {
grid-area: gridItem4;

}
.skillset{
grid-area: gridItem5;

}
.awards{
grid-area: gridItem6;

}

.career {
grid-area: gridItem7;


}
.recent-works {
grid-area: gridItem8;


}
    /*-----------------------------------------*/
    /*skillset section                           */
    /*-----------------------------------------*/



    .skillset {
      .skillset__heading {
        font-family: "PT Sans Narrow", sans-serif;
        color: var(--secondary-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
        margin-top: 40px;
      }
  
      .skillset__list {
        li {
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 2px;
          line-height: 34px;
          list-style: none;
        }
      }
    }


    /*-----------------------------------------*/
    /*about section                           */
    /*-----------------------------------------*/


  
    .about {
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
      margin-bottom: 80px;
  
      &:after {
        display: block;
        height: 10px;
        width: 54px;
        content: "";
        background-color: var(--primary-color);
        margin-top: 80px;
        margin-bottom: 66px;
      }
  
      .about__heading {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 46px;
      }
    }



      /*-----------------------------------------*/
    /*expereience section                        */
    /*-----------------------------------------*/



    .experience {
    
      padding-bottom: 10px;
  
      .experience__heading {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 46px;
        margin-top: 40px;
       
        padding-bottom: 20px;
      }
  
      .experience__heading--frontend {
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
        color: var(--secondary-color);
        flex-direction: column;
        flex-wrap: wrap;
        .experience__duration {
          
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: black;
        }
      }
  
      .experience__paragraph {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 20px;
        line-height: 34px;
        font-weight: 400;
      }
    }
      /*-----------------------------------------*/
    /*Awards section                           */
    /*-----------------------------------------*/

    .awards {
      width: 350px;
      height: 100%;
 
  
      .awards__heading {
        font-family: "PT Sans Narrow", sans-serif;
        color: var(--secondary-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
       
      }
    }
  
    .awards-list {
      list-style: none;
      text-decoration: none;
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 34px;
      list-style: none;
    }
  

    /*-----------------------------------------*/
    /*career section                           */
    /*-----------------------------------------*/

    .career {
     
      margin-top: -150px;
      .career__heading {
        font-family: "PT Sans Narrow", sans-serif;
        color: var(--secondary-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 2px;

      
      }
  
      .career__list {
        list-style: none;
  
        .career__paragraph1 {
          font-family: "PT Sans Narrow", sans-serif;
          font-size: 20px;
          line-height: 34px;
  
          .bold {
            font-weight: bold;
          }
        }
  
        .career__paragraph {
          font-family: "PT Sans Narrow", sans-serif;
          margin-top: 50px;
          font-size: 20px;
          font-weight: 400;
          line-height: 34px;
  
          .bold {
            font-weight: bold;
          }
        }
      }
    }


         
    /*-----------------------------------------*/
    /*VISUAL LEAD UI DESIGNER WRAPPER SECTION */
    /*-----------------------------------------*/
  
    .visual_lead_ui {
      .visual {
       
  
        .visual__heading {
          line-height: 24px;
          padding-bottom: 20px;
           margin-top: -280px;
          justify-content: space-between;
          flex-direction: column;
          flex-wrap: wrap;
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: var(--secondary-color);
          letter-spacing: 1px;
        }
      }

      
    /*-----------------------------------------*/
    /*Lead designer section*/
    /*-----------------------------------------*/
  
      .lead {
        .lead__heading {
          line-height: 24px;
          padding-bottom: 20px;
       
          justify-content: space-between;
        
          flex-direction: column;
          flex-wrap: wrap;
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: var(--secondary-color);
          letter-spacing: 1px;
        }
      }

    /*-----------------------------------------*/
    /*UI designer section*/
    /*-----------------------------------------*/
  
      .ui {
        &:after {
          display: block;
          height: 10px;
          width: 54px;
          content: "";
          background-color: var(--primary-color);
          margin-top: 66px;
         
        }
  
        .ui__heading {
          line-height: 24px;
          margin-top: 66px;
          padding-bottom: 20px;
          justify-content: space-between;
          flex-direction: column;
          flex-wrap: wrap;
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: var(--secondary-color);
          letter-spacing: 1px;
        }
      }
    }
  
    .responsibilities {
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
    }
  
    .timeline {
      font-family: "PT Sans Narrow", sans-serif;
      // font-weight: 400;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: black;
    }
        /*-----------------------------------------*/
    /*VISUAL LEAD UI DESIGNER WRAPPER SECTION ENDS */
    /*-----------------------------------------*/








      /*-----------------------------------------*/
    /*recent works section*/
    /*-----------------------------------------*/
    .recent-works {
     
      .recent-works__heading {
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: var(--secondary-color);
        margin-top: 60px;
      }
  
      .recent-works__list {
        font-family: "PT Sans Narrow", sans-serif;
        list-style: none;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
      }
    }
  


      /*-----------------------------------------*/
    /*Education section*/
    /*-----------------------------------------*/
    .education {
      line-height: 46px;
  
      .education__heading {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 46px;
        margin-top: 40px;
        
      }
  
      .education__timeline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
  
      .education__paragraph--1 {
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: var(--secondary-color);
        width:333px;
      }
  
      .education__paragraph--2 {
      
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 400;
        font-size: 18px;
        width: 224px;
      }
    }
  }


    /*-----------------------------------------*/
    /*WRAPPER SECTION ENDS*/
    /*-----------------------------------------*/



  
  /*----------------------------------------*/
  /*   FOOTER SECTION                        */
  /*---------------------------------------- */
  footer {
    background-color: #e5e5e5;
    text-align: center;
    height: 600px;
    margin-top:3400px;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  
    .footer__heading {
      font-family: "Playfair Display", serif;
      font-size: 40px;
      font-weight: 900;
      line-height: 82px;
      padding-top: 150px;
    }
  
    .email {
      color: var(--primary-color);
      font-family: "Playfair Display", serif;
      font-size: 26px;
      font-weight: 900;
      line-height: 46px;
      margin-top: 30px;

      padding-bottom: 163px;
    }
  
    .social-media__list {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-top: 66px;
  
      li {
        margin: 0 45px;
      }
    }
  }

  /*----------------------------------------*/
  /*   FOOTER SECTION ENDS                   */
  /*---------------------------------------- */





}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {



    html {
      width: 100%;
      overflow-x: hidden;

     overflow: auto!important;
    max-height: 100% !important;
    }



    
  body {
    width: 100%;
    overflow: auto!important;
    max-height: 100% !important;
    overflow-x: hidden;
  }

      /*-----------------------------------------*/
    /*MAIN HEADER SECTION*/
    /*-----------------------------------------*/

  .main__header {
    background-color: #e5e5e5;
    width: 100%;
    height: 747px;
    display: grid;
    grid-template-columns: 375px;

    /*-----------------------------------------*/
    /*NICE TO MEET YOU SECTION*/
    /*-----------------------------------------*/

    .container {
      /*centers in the container*/
      // text-align: center;
      width: 50px;
      height: 50px;
      position:absolute;
      top:0;
      left: 300px;

    .circTxt {
      font-family: "PT Sans Narrow", sans-serif;
   
      /*allows for centering*/
      display: inline-block;
      /*adjust as needed*/
      font-size: small;
      width: 350px;
      height: 1000px;
      color: var(--secondary-color);
      font-weight: 900;
      position:absolute;
      top:0;
      left: 0;
      display: none;
    }
  }
.round {
    height: 50px;
  

}
    
    /*-----------------------------------------*/
    /*NICE TO MEET YOU SECTION ENDS*/
    /*-----------------------------------------*/


    img {
      width: 200px;
      height: 100px;
      position: relative ;
      left: 95px;
    
     
     
    }

    .resume__section--details {
      .main__heading {
        position: absolute;
        height: 92px;
        width: 482px;
        top: 240px;
        left: 144px;
        font-family: "Playfair Display", serif;
        font-size: 56px;
        font-weight: 900;
        text-align: center;

        .first-name {

          margin-left: 8px;
        }
      }
      .job {
        color: var(--secondary-color);
        position: absolute;
        top: 230px;
        left: 15px;
        text-align: center;
        font-size: 18px;
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        height: 24px;
        width: 100%;
      }

      .contact-btn {
        background-color: var(--primary-color);
        color: #fff;
        position: absolute;
        top: 440px;
        left: 280px;
        height: 60px;
        width: 225px;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        border: hidden;
      }
    }
  }
    /*-----------------------------------------*/
    /*MAIN HEADER SECTION ENDS*/
    /*-----------------------------------------*/


    /*-----------------------------------------*/
    /*WRAPPER GRID SECTION*/
    /*-----------------------------------------*/


  .wrapper {
    display: grid;
    grid-template-columns:482px;
    grid-template-rows: 240px;
    grid-gap: 10px;
    justify-content: center;
    height: 1000px;
    grid-template-areas: 'gridItem1' 
    'gridItem2' 
    'gridItem3'
    'gridItem4' 
    'gridItem5' 
    'gridItem6' 
    'gridItem7' 
    'gridItem8';


.about {
grid-area: gridItem1;

}
.experience{
grid-area: gridItem2;

}
.visual_lead_ui {
grid-area: gridItem3;

}
.education {
grid-area: gridItem4;

}
.skillset{
grid-area: gridItem5;

}
.awards{
grid-area: gridItem6;

}

.career {
grid-area: gridItem7;


}
.recent-works {
grid-area: gridItem8;


}
    /*-----------------------------------------*/
    /*skillset section                           */
    /*-----------------------------------------*/



    .skillset {
      .skillset__heading {
        font-family: "PT Sans Narrow", sans-serif;
        color: var(--secondary-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
        margin-top: 40px;
      }
  
      .skillset__list {
        li {
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 2px;
          line-height: 34px;
          list-style: none;
        }
      }
    }


    /*-----------------------------------------*/
    /*about section                           */
    /*-----------------------------------------*/


  
    .about {
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
      margin-bottom: 80px;
  
      &:after {
        display: block;
        height: 10px;
        width: 54px;
        content: "";
        background-color: var(--primary-color);
        margin-top: 80px;
        margin-bottom: 66px;
      }
  
      .about__heading {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 46px;
      }
    }



      /*-----------------------------------------*/
    /*expereience section                        */
    /*-----------------------------------------*/



    .experience {
    
      padding-bottom: 10px;
  
      .experience__heading {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 46px;
        margin-top: 40px;
       
        padding-bottom: 20px;
      }
  
      .experience__heading--frontend {
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
        color: var(--secondary-color);
        flex-direction: column;
        flex-wrap: wrap;
        .experience__duration {
          
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: black;
        }
      }
  
      .experience__paragraph {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 20px;
        line-height: 34px;
        font-weight: 400;
      }
    }
      /*-----------------------------------------*/
    /*Awards section                           */
    /*-----------------------------------------*/

    .awards {
      width: 350px;
      height: 100%;
 
  
      .awards__heading {
        font-family: "PT Sans Narrow", sans-serif;
        color: var(--secondary-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
       
      }
    }
  
    .awards-list {
      list-style: none;
      text-decoration: none;
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 34px;
      list-style: none;
    }
  

    /*-----------------------------------------*/
    /*career section                           */
    /*-----------------------------------------*/

    .career {
     
      margin-top: -150px;
      .career__heading {
        font-family: "PT Sans Narrow", sans-serif;
        color: var(--secondary-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 2px;

      
      }
  
      .career__list {
        list-style: none;
  
        .career__paragraph1 {
          font-family: "PT Sans Narrow", sans-serif;
          font-size: 20px;
          line-height: 34px;
  
          .bold {
            font-weight: bold;
          }
        }
  
        .career__paragraph {
          font-family: "PT Sans Narrow", sans-serif;
          margin-top: 50px;
          font-size: 20px;
          font-weight: 400;
          line-height: 34px;
  
          .bold {
            font-weight: bold;
          }
        }
      }
    }


         
    /*-----------------------------------------*/
    /*VISUAL LEAD UI DESIGNER WRAPPER SECTION */
    /*-----------------------------------------*/
  
    .visual_lead_ui {
      .visual {
       
  
        .visual__heading {
          line-height: 24px;
          padding-bottom: 20px;
           margin-top: -280px;
          justify-content: space-between;
          flex-direction: column;
          flex-wrap: wrap;
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: var(--secondary-color);
          letter-spacing: 1px;
        }
      }

      
    /*-----------------------------------------*/
    /*Lead designer section*/
    /*-----------------------------------------*/
  
      .lead {
        .lead__heading {
          line-height: 24px;
          padding-bottom: 20px;
       
          justify-content: space-between;
        
          flex-direction: column;
          flex-wrap: wrap;
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: var(--secondary-color);
          letter-spacing: 1px;
        }
      }

    /*-----------------------------------------*/
    /*UI designer section*/
    /*-----------------------------------------*/
  
      .ui {
        &:after {
          display: block;
          height: 10px;
          width: 54px;
          content: "";
          background-color: var(--primary-color);
          margin-top: 66px;
         
        }
  
        .ui__heading {
          line-height: 24px;
          margin-top: 66px;
          padding-bottom: 20px;
          justify-content: space-between;
          flex-direction: column;
          flex-wrap: wrap;
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: var(--secondary-color);
          letter-spacing: 1px;
        }
      }
    }
  
    .responsibilities {
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 34px;
    }
  
    .timeline {
      font-family: "PT Sans Narrow", sans-serif;
      // font-weight: 400;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: black;
    }
        /*-----------------------------------------*/
    /*VISUAL LEAD UI DESIGNER WRAPPER SECTION ENDS */
    /*-----------------------------------------*/








      /*-----------------------------------------*/
    /*recent works section*/
    /*-----------------------------------------*/
    .recent-works {
     
      .recent-works__heading {
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: var(--secondary-color);
        margin-top: 60px;
      }
  
      .recent-works__list {
        font-family: "PT Sans Narrow", sans-serif;
        list-style: none;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
      }
    }
  


      /*-----------------------------------------*/
    /*Education section*/
    /*-----------------------------------------*/
    .education {
      line-height: 46px;
  
      .education__heading {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 46px;
        margin-top: 40px;
        
      }
  
      .education__timeline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
  
      .education__paragraph--1 {
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: var(--secondary-color);
        width:333px;
      }
  
      .education__paragraph--2 {
      
        font-family: "PT Sans Narrow", sans-serif;
        font-weight: 400;
        font-size: 18px;
        width: 224px;
      }
    }
  }


    /*-----------------------------------------*/
    /*WRAPPER SECTION ENDS*/
    /*-----------------------------------------*/



  
  /*----------------------------------------*/
  /*   FOOTER SECTION                        */
  /*---------------------------------------- */
  footer {
    background-color:  #e5e5e5;
    text-align: center;
    height: 900px;
    margin-top:2500px;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  
    .footer__heading {
      font-family: "Playfair Display", serif;
      font-size: 40px;
      font-weight: 900;
      line-height: 82px;
      padding-top: 150px;
    }
  
    .email {
      color: var(--primary-color);
      font-family: "Playfair Display", serif;
      font-size: 26px;
      font-weight: 900;
      line-height: 46px;
      margin-top: 30px;

      padding-bottom: 163px;
    }
  
    .social-media__list {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-top: 66px;
  
      li {
        margin: 0 45px;
      }
    }
  }

  /*----------------------------------------*/
  /*   FOOTER SECTION ENDS                   */
  /*---------------------------------------- */





}

